.home-screen-background {
  padding: 2rem 1rem;
}

.home-screen-title {
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.7); /* On ajoute un fond blanc semi-transparent pour la lisibilité */
    padding: 1rem;
    border-radius: 8px;
}