.description-box {
  line-height: 1.6;
  white-space: pre-wrap; /* Respecte les sauts de ligne dans la description */
}

.toggle-description-btn {
  background: none;
  border: none;
  color: #0d6efd; /* Bleu Bootstrap */
  padding: 0;
  margin-top: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.toggle-description-btn:hover {
  text-decoration: underline;
}