.card-img-top {
  width: 100%;
  height: 200px; 
  object-fit: contain; 
  padding: 0.5rem; 
}

.product-card-body {
  text-align: center; 
}

.btn-violet {
  background-color: #8a2be2;
  border-color: #8a2be2;
  color: white;
  width: 100%; 
  margin-top: 1rem;
}

.btn-violet:hover {
  background-color: #7b25c9;
  border-color: #7b25c9;
}


/* --- STYLES UNIQUEMENT POUR LES PETITS ÉCRANS --- */
@media (max-width: 767px) {
  /* NOUVELLE RÈGLE POUR LA HAUTEUR DE LA CARTE */
  .card {
    max-height: 460px; /* Fixe une hauteur maximale pour la carte */
    overflow: hidden;   /* Empêche le contenu de déborder */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-img-top {
    height: 200px; /* On garde une hauteur raisonnable pour l'image */
  }
  
  .product-card-body .product-title {
    font-size: 0.9rem;
    min-height: 45px;
  }

  .product-card-body h4 {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }

  .btn-violet {
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
  }
}