.qty-selector {
  display: flex;
  align-items: center;
  max-width: 120px; /* Réduit la longueur du champ */
}

.qty-selector .form-control {
  text-align: center;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

/* Enlève les flèches natives sur le champ de type nombre */
.qty-selector input[type='number']::-webkit-inner-spin-button,
.qty-selector input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.qty-selector input[type='number'] {
  -moz-appearance: textfield;
}

.qty-selector .btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}