html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  /* On s'assure que le conteneur racine de React prend aussi toute la hauteur */
  height: 100%;
}

main {
  /* Cette règle reste essentielle : elle dit au contenu de prendre toute la place disponible */
  flex: 1;
}